---
title: 文章分类
layout: page
permalink: /category/
---

<p class="page-category">
    {% for category in site.categories %}
    <a href="{{ site.url }}/category/#{{ category | first }}">#{{ category | first }}({{ category | last | size }})</a>
    {% endfor %}
</p>

{% for category in site.categories %}
<h3 id="{{ category | first }}">{{ category | first }}({{ category | last | size }})</h3>
<p>
{% for post in category.last %}
    <span class="category-date">{{ post.date | date_to_string }} -</span> <a href="{{ post.url }}">{{ post.title }}</a><br/>
{% endfor%}
</p>
{% endfor %}

